<h1>Eventos</h1>
<hr />

<div class="d-flex align-items-center">
  <label for="filtro" class="me-2 mb-2">Filtro:</label>
  <input
    type="text"
    class="form-control mb-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    style="max-width: 300px"
  />
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th (click)="exibirImagem = !exibirImagem">
        <button type="button" class="btn btn-outline-light btn-sm">
          {{ exibirImagem ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos?.length; else notFound">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          [collapse]="!exibirImagem"
          [isAnimated]="true"
          [ngStyle]="{
            'width.px': widthImg,
            'margin.px': marginImg
          }"
          [src]="'/assets/' + evento.imagemURL"
        />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento | date }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2">
          Editar
        </button>
        <button type="button" class="btn btn-danger btn-sm me-2">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <ng-template #notFound>
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </ng-template>
</table>
